<!DOCTYPE html>
<html>
  <head>
    <title>Pinscher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="hero is-primary is-bold">
      <%= render "layouts/navbar" %>
    </section>

    <section class="section">
      <div class="container">
        <div id="flash" class="mb-4">
          <%= render "flash_messages" %>
        </div>

        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          &copy; <%= Time.now.year %> Pinscher. All rights reserved.
        </p>
      </div>
    </footer>

    <%= turbo_frame_tag "remote_modal", target: "_top" %>
  </body>
</html>
